# F1 Dashbord

### Goal
- creating a interactive dashborad showcasing different viszalizations about F1


### Data
- Data is available as an MySQL dump or in CSV files (I will use the MySQL database to train my sql skills)
- [Ergast Devloper API](http://ergast.com/mrd)

## Imports

In [1]:
import mysql.connector
import pandas as pd

## Explore MySQL Databse

The devloper of the API provied a Schema and User Guide so I don't need to explore the database in detail in this notebook: 
- [Schema](http://ergast.com/images/ergast_db.png)
- [User Guide](http://ergast.com/docs/f1db_user_guide.txt)

List of Tables:
- `circuits`
- `constructorResults`
- `constructorStandings`
- `constructors`
- `driverStandings`
- `drivers`
- `lapTimes`
- `pitStops`
- `qualifying`
- `races`
- `results`
- `seasons`
- `status`

In [5]:
# Establish connection
mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "password",
    database = "f1db" 
)

# Create cursor
mycursor = mydb.cursor()

mycursor.execute("""
        SELECT *
        FROM circuits;
""")

result = mycursor.fetchall()

for x in result:
    print(x)

(1, 'albert_park', 'Albert Park Grand Prix Circuit', 'Melbourne', 'Australia', -37.8497, 144.968, 10, 'http://en.wikipedia.org/wiki/Melbourne_Grand_Prix_Circuit')
(2, 'sepang', 'Sepang International Circuit', 'Kuala Lumpur', 'Malaysia', 2.76083, 101.738, 18, 'http://en.wikipedia.org/wiki/Sepang_International_Circuit')
(3, 'bahrain', 'Bahrain International Circuit', 'Sakhir', 'Bahrain', 26.0325, 50.5106, 7, 'http://en.wikipedia.org/wiki/Bahrain_International_Circuit')
(4, 'catalunya', 'Circuit de Barcelona-Catalunya', 'Montmeló', 'Spain', 41.57, 2.26111, 109, 'http://en.wikipedia.org/wiki/Circuit_de_Barcelona-Catalunya')
(5, 'istanbul', 'Istanbul Park', 'Istanbul', 'Turkey', 40.9517, 29.405, 130, 'http://en.wikipedia.org/wiki/Istanbul_Park')
(6, 'monaco', 'Circuit de Monaco', 'Monte-Carlo', 'Monaco', 43.7347, 7.42056, 7, 'http://en.wikipedia.org/wiki/Circuit_de_Monaco')
(7, 'villeneuve', 'Circuit Gilles Villeneuve', 'Montreal', 'Canada', 45.5, -73.5228, 13, 'http://en.wikipedia.org/wiki/Circuit_Gilles_Villeneuve')
(8, 'magny_cours', 'Circuit de Nevers Magny-Cours', 'Magny Cours', 'France', 46.8642, 3.16361, 228, 'http://en.wikipedia.org/wiki/Circuit_de_Nevers_Magny-Cours')
(9, 'silverstone', 'Silverstone Circuit', 'Silverstone', 'UK', 52.0786, -1.01694, 153, 'http://en.wikipedia.org/wiki/Silverstone_Circuit')
(10, 'hockenheimring', 'Hockenheimring', 'Hockenheim', 'Germany', 49.3278, 8.56583, 103, 'http://en.wikipedia.org/wiki/Hockenheimring')
(11, 'hungaroring', 'Hungaroring', 'Budapest', 'Hungary', 47.5789, 19.2486, 264, 'http://en.wikipedia.org/wiki/Hungaroring')
(12, 'valencia', 'Valencia Street Circuit', 'Valencia', 'Spain', 39.4589, -0.331667, 4, 'http://en.wikipedia.org/wiki/Valencia_Street_Circuit')
(13, 'spa', 'Circuit de Spa-Francorchamps', 'Spa', 'Belgium', 50.4372, 5.97139, 401, 'http://en.wikipedia.org/wiki/Circuit_de_Spa-Francorchamps')
(14, 'monza', 'Autodromo Nazionale di Monza', 'Monza', 'Italy', 45.6156, 9.28111, 162, 'http://en.wikipedia.org/wiki/Autodromo_Nazionale_Monza')
(15, 'marina_bay', 'Marina Bay Street Circuit', 'Marina Bay', 'Singapore', 1.2914, 103.864, 18, 'http://en.wikipedia.org/wiki/Marina_Bay_Street_Circuit')
(16, 'fuji', 'Fuji Speedway', 'Oyama', 'Japan', 35.3717, 138.927, 583, 'http://en.wikipedia.org/wiki/Fuji_Speedway')
(17, 'shanghai', 'Shanghai International Circuit', 'Shanghai', 'China', 31.3389, 121.22, 5, 'http://en.wikipedia.org/wiki/Shanghai_International_Circuit')
(18, 'interlagos', 'Autódromo José Carlos Pace', 'São Paulo', 'Brazil', -23.7036, -46.6997, 785, 'http://en.wikipedia.org/wiki/Aut%C3%B3dromo_Jos%C3%A9_Carlos_Pace')
(19, 'indianapolis', 'Indianapolis Motor Speedway', 'Indianapolis', 'USA', 39.795, -86.2347, 223, 'http://en.wikipedia.org/wiki/Indianapolis_Motor_Speedway')
(20, 'nurburgring', 'Nürburgring', 'Nürburg', 'Germany', 50.3356, 6.9475, 578, 'http://en.wikipedia.org/wiki/N%C3%BCrburgring')
(21, 'imola', 'Autodromo Enzo e Dino Ferrari', 'Imola', 'Italy', 44.3439, 11.7167, 37, 'http://en.wikipedia.org/wiki/Autodromo_Enzo_e_Dino_Ferrari')
(22, 'suzuka', 'Suzuka Circuit', 'Suzuka', 'Japan', 34.8431, 136.541, 45, 'http://en.wikipedia.org/wiki/Suzuka_Circuit')
(23, 'osterreichring', 'A1-Ring', 'Spielberg', 'Austria', 47.2197, 14.7647, 678, 'http://en.wikipedia.org/wiki/A1-Ring')
(24, 'yas_marina', 'Yas Marina Circuit', 'Abu Dhabi', 'UAE', 24.4672, 54.6031, 3, 'http://en.wikipedia.org/wiki/Yas_Marina_Circuit')
(25, 'galvez', 'Autódromo Juan y Oscar Gálvez', 'Buenos Aires', 'Argentina', -34.6943, -58.4593, 8, 'http://en.wikipedia.org/wiki/Aut%C3%B3dromo_Oscar_Alfredo_G%C3%A1lvez')
(26, 'jerez', 'Circuito de Jerez', 'Jerez de la Frontera', 'Spain', 36.7083, -6.03417, 37, 'http://en.wikipedia.org/wiki/Circuito_Permanente_de_Jerez')
(27, 'estoril', 'Autódromo do Estoril', 'Estoril', 'Portugal', 38.7506, -9.39417, 130, 'http://en.wikipedia.org/wiki/Aut%C3%B3dromo_do_Estoril')
(28, 'okayama', 'Okayama International Circuit', 'Okayama', 'Japan', 34.915, 134.221, 266, 'http://en.wikipedia.org/wiki/TI_Circuit')
(29, 'adelaide', 'Adelaide Street Circuit', 'Adelaide', 'Australia', -34.9272, 138.617, 58, 'http://en.wikipedia.org/wiki/Adelaide_Street_Circuit')
(30, 'kyalami', 'Kyalami', 'Midrand', 'South Africa', -25.9894, 28.0767, 1460, 'http://en.wikipedia.org/wiki/Kyalami')
(31, 'donington', 'Donington Park', 'Castle Donington', 'UK', 52.8306, -1.37528, 88, 'http://en.wikipedia.org/wiki/Donington_Park')
(32, 'rodriguez', 'Autódromo Hermanos Rodríguez', 'Mexico City', 'Mexico', 19.4042, -99.0907, 2227, 'http://en.wikipedia.org/wiki/Aut%C3%B3dromo_Hermanos_Rodr%C3%ADguez')
(33, 'phoenix', 'Phoenix street circuit', 'Phoenix', 'USA', 33.4479, -112.075, 345, 'http://en.wikipedia.org/wiki/Phoenix_street_circuit')
(34, 'ricard', 'Circuit Paul Ricard', 'Le Castellet', 'France', 43.2506, 5.79167, 432, 'http://en.wikipedia.org/wiki/Paul_Ricard_Circuit')
(35, 'yeongam', 'Korean International Circuit', 'Yeongam County', 'Korea', 34.7333, 126.417, 0, 'http://en.wikipedia.org/wiki/Korean_International_Circuit')
(36, 'jacarepagua', 'Autódromo Internacional Nelson Piquet', 'Rio de Janeiro', 'Brazil', -22.9756, -43.395, 1126, 'http://en.wikipedia.org/wiki/Aut%C3%B3dromo_Internacional_Nelson_Piquet')
(37, 'detroit', 'Detroit Street Circuit', 'Detroit', 'USA', 42.3298, -83.0401, 177, 'http://en.wikipedia.org/wiki/Detroit_street_circuit')
(38, 'brands_hatch', 'Brands Hatch', 'Kent', 'UK', 51.3569, 0.263056, 145, 'http://en.wikipedia.org/wiki/Brands_Hatch')
(39, 'zandvoort', 'Circuit Park Zandvoort', 'Zandvoort', 'Netherlands', 52.3888, 4.54092, 6, 'http://en.wikipedia.org/wiki/Circuit_Zandvoort')
(40, 'zolder', 'Zolder', 'Heusden-Zolder', 'Belgium', 50.9894, 5.25694, 36, 'http://en.wikipedia.org/wiki/Zolder')
(41, 'dijon', 'Dijon-Prenois', 'Dijon', 'France', 47.3625, 4.89913, 484, 'http://en.wikipedia.org/wiki/Dijon-Prenois')
(42, 'dallas', 'Fair Park', 'Dallas', 'USA', 32.7774, -96.7587, 139, 'http://en.wikipedia.org/wiki/Fair_Park')
(43, 'long_beach', 'Long Beach', 'California', 'USA', 33.7651, -118.189, 12, 'http://en.wikipedia.org/wiki/Long_Beach,_California')
(44, 'las_vegas', 'Las Vegas Street Circuit', 'Nevada', 'USA', 36.1162, -115.174, 639, 'http://en.wikipedia.org/wiki/Las_Vegas,_Nevada')
(45, 'jarama', 'Jarama', 'Madrid', 'Spain', 40.6171, -3.58558, 609, 'http://en.wikipedia.org/wiki/Circuito_Permanente_Del_Jarama')
(46, 'watkins_glen', 'Watkins Glen', 'New York State', 'USA', 42.3369, -76.9272, 485, 'http://en.wikipedia.org/wiki/Watkins_Glen_International')
(47, 'anderstorp', 'Scandinavian Raceway', 'Anderstorp', 'Sweden', 57.2653, 13.6042, 153, 'http://en.wikipedia.org/wiki/Scandinavian_Raceway')
(48, 'mosport', 'Mosport International Raceway', 'Ontario', 'Canada', 44.0481, -78.6756, 332, 'http://en.wikipedia.org/wiki/Mosport')
(49, 'montjuic', 'Montjuïc', 'Barcelona', 'Spain', 41.3664, 2.15167, 79, 'http://en.wikipedia.org/wiki/Montju%C3%AFc_circuit')
(50, 'nivelles', 'Nivelles-Baulers', 'Brussels', 'Belgium', 50.6211, 4.32694, 139, 'http://en.wikipedia.org/wiki/Nivelles-Baulers')
(51, 'charade', 'Charade Circuit', 'Clermont-Ferrand', 'France', 45.7472, 3.03889, 790, 'http://en.wikipedia.org/wiki/Charade_Circuit')
(52, 'tremblant', 'Circuit Mont-Tremblant', 'Quebec', 'Canada', 46.1877, -74.6099, 214, 'http://en.wikipedia.org/wiki/Circuit_Mont-Tremblant')
(53, 'essarts', 'Rouen-Les-Essarts', 'Rouen', 'France', 49.3306, 1.00458, 81, 'http://en.wikipedia.org/wiki/Rouen-Les-Essarts')
(54, 'lemans', 'Le Mans', 'Le Mans', 'France', 47.95, 0.224231, 67, 'http://en.wikipedia.org/wiki/Circuit_de_la_Sarthe#Bugatti_Circuit')
(55, 'reims', 'Reims-Gueux', 'Reims', 'France', 49.2542, 3.93083, 88, 'http://en.wikipedia.org/wiki/Reims-Gueux')
(56, 'george', 'Prince George Circuit', 'Eastern Cape Province', 'South Africa', -33.0486, 27.8736, 15, 'http://en.wikipedia.org/wiki/Prince_George_Circuit')
(57, 'zeltweg', 'Zeltweg', 'Styria', 'Austria', 47.2039, 14.7478, 676, 'http://en.wikipedia.org/wiki/Zeltweg_Airfield')
(58, 'aintree', 'Aintree', 'Liverpool', 'UK', 53.4769, -2.94056, 20, 'http://en.wikipedia.org/wiki/Aintree_Motor_Racing_Circuit')
(59, 'boavista', 'Circuito da Boavista', 'Oporto', 'Portugal', 41.1705, -8.67325, 28, 'http://en.wikipedia.org/wiki/Circuito_da_Boavista')
(60, 'riverside', 'Riverside International Raceway', 'California', 'USA', 33.937, -117.273, 470, 'http://en.wikipedia.org/wiki/Riverside_International_Raceway')
(61, 'avus', 'AVUS', 'Berlin', 'Germany', 52.4806, 13.2514, 53, 'http://en.wikipedia.org/wiki/AVUS')
(62, 'monsanto', 'Monsanto Park Circuit', 'Lisbon', 'Portugal', 38.7197, -9.20306, 158, 'http://en.wikipedia.org/wiki/Monsanto_Park_Circuit')
(63, 'sebring', 'Sebring International Raceway', 'Florida', 'USA', 27.4547, -81.3483, 18, 'http://en.wikipedia.org/wiki/Sebring_Raceway')
(64, 'ain-diab', 'Ain Diab', 'Casablanca', 'Morocco', 33.5786, -7.6875, 19, 'http://en.wikipedia.org/wiki/Ain-Diab_Circuit')
(65, 'pescara', 'Pescara Circuit', 'Pescara', 'Italy', 42.475, 14.1508, 129, 'http://en.wikipedia.org/wiki/Pescara_Circuit')
(66, 'bremgarten', 'Circuit Bremgarten', 'Bern', 'Switzerland', 46.9589, 7.40194, 551, 'http://en.wikipedia.org/wiki/Circuit_Bremgarten')
(67, 'pedralbes', 'Circuit de Pedralbes', 'Barcelona', 'Spain', 41.3903, 2.11667, 85, 'http://en.wikipedia.org/wiki/Pedralbes_Circuit')
(68, 'buddh', 'Buddh International Circuit', 'Uttar Pradesh', 'India', 28.3487, 77.5331, 194, 'http://en.wikipedia.org/wiki/Buddh_International_Circuit')
(69, 'americas', 'Circuit of the Americas', 'Austin', 'USA', 30.1328, -97.6411, 161, 'http://en.wikipedia.org/wiki/Circuit_of_the_Americas')
(70, 'red_bull_ring', 'Red Bull Ring', 'Spielberg', 'Austria', 47.2197, 14.7647, 678, 'http://en.wikipedia.org/wiki/Red_Bull_Ring')
(71, 'sochi', 'Sochi Autodrom', 'Sochi', 'Russia', 43.4057, 39.9578, 2, 'http://en.wikipedia.org/wiki/Sochi_Autodrom')
(72, 'port_imperial', 'Port Imperial Street Circuit', 'New Jersey', 'USA', 40.7769, -74.0111, 4, 'http://en.wikipedia.org/wiki/Port_Imperial_Street_Circuit')
(73, 'BAK', 'Baku City Circuit', 'Baku', 'Azerbaijan', 40.3725, 49.8533, -7, 'http://en.wikipedia.org/wiki/Baku_City_Circuit')
(74, 'hanoi', 'Hanoi Street Circuit', 'Hanoi', 'Vietnam', 21.0166, 105.766, 9, 'http://en.wikipedia.org/wiki/Hanoi_Street_Circuit')
(75, 'portimao', 'Autódromo Internacional do Algarve', 'Portimão', 'Portugal', 37.227, -8.6267, 108, 'http://en.wikipedia.org/wiki/Algarve_International_Circuit')
(76, 'mugello', 'Autodromo Internazionale del Mugello', 'Mugello', 'Italy', 43.9975, 11.3719, 255, 'http://en.wikipedia.org/wiki/Mugello_Circuit')
(77, 'jeddah', 'Jeddah Corniche Circuit', 'Jeddah', 'Saudi Arabia', 21.6319, 39.1044, 15, 'http://en.wikipedia.org/wiki/Jeddah_Street_Circuit')
(78, 'losail', 'Losail International Circuit', 'Al Daayen', 'Qatar', 25.49, 51.4542, None, 'http://en.wikipedia.org/wiki/Losail_International_Circuit')
(79, 'miami', 'Miami International Autodrome', 'Miami', 'United States', 25.9581, -80.2389, None, 'http://en.wikipedia.org/wiki/Miami_International_Autodrome')

In [15]:
# Helper function
def sqlQuery(query):
    """
    returns a pandas DataFrame
    """
    # Create a cursor object
    mycursor = mydb.cursor()
    
    # Submit query
    mycursor.execute(query)

    # Call query
    result = mycursor.fetchall()
    
    # Column names from query
    col_names = mycursor.column_names

    # Get rows
    rows_lst = []
    for row in result:
        rows_lst.append(row)

    # Create DataFrame
    df = pd.DataFrame(columns=col_names, data=rows_lst)

    return df

### Statistics About the Drivers

In [6]:
mycursor = mydb.cursor()

mycursor.execute("""
        SELECT *
        FROM drivers;
""")

result = mycursor.fetchall()

# get column names from table
column_names = mycursor.column_names

row_list = []
for x in result:
    row_list.append(x)

df = pd.DataFrame(columns=column_names, data=row_list)

In [7]:
df

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44.0,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,NaN,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6.0,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14.0,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,NaN,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen
...,...,...,...,...,...,...,...,...,...
849,851,aitken,89.0,AIT,Jack,Aitken,1995-09-23,British,http://en.wikipedia.org/wiki/Jack_Aitken
850,852,tsunoda,22.0,TSU,Yuki,Tsunoda,2000-05-11,Japanese,http://en.wikipedia.org/wiki/Yuki_Tsunoda
851,853,mazepin,9.0,MAZ,Nikita,Mazepin,1999-03-02,Russian,http://en.wikipedia.org/wiki/Nikita_Mazepin
852,854,mick_schumacher,47.0,MSC,Mick,Schumacher,1999-03-22,German,http://en.wikipedia.org/wiki/Mick_Schumacher
853,855,zhou,24.0,ZHO,Guanyu,Zhou,1999-05-30,Chinese,http://en.wikipedia.org/wiki/Guanyu_Zhou

#### Nationality of the drivers

In [23]:
query = ("""
        SELECT nationality, COUNT(1) AS number
        FROM drivers
        GROUP BY nationality
        ORDER BY number DESC;
""")

# using helper function to get data
df_nationality = sqlQuery(query)

df_nationality

          nationality  number
0             British     165
1            American     157
2             Italian      99
3              French      73
4              German      50
5           Brazilian      32
6           Argentine      24
7       South African      23
8               Swiss      23
9             Belgian      23
10           Japanese      20
11         Australian      17
12              Dutch      17
13           Austrian      15
14            Spanish      15
15           Canadian      14
16            Swedish      10
17            Finnish       9
18      New Zealander       9
19            Mexican       6
20              Irish       5
21             Danish       5
22         Portuguese       4
23            Russian       4
24          Uruguayan       4
25         Monegasque       4
26          Rhodesian       4
27          Colombian       3
28        East German       3
29         Venezuelan       3
30               Thai       2
31             Indian       2
32    Liechtensteiner       1
33            Chilean       1
34   American-Italian       1
35          Malaysian       1
36  Argentine-Italian       1
37              Czech       1
38          Hungarian       1
39             Polish       1
40         Indonesian       1
41            Chinese       1

##### Questions: Why so many American F1 drivers?

In [29]:
query = ("""
    SELECT *
    FROM drivers
    WHERE nationality = "American" AND code IS NOT NULL;
""")

df_nationality_american = sqlQuery(query)

df_nationality_american

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,26,speed,NaN,SPE,Scott,Speed,1983-01-24,American,http://en.wikipedia.org/wiki/Scott_Speed
1,834,rossi,53.0,RSS,Alexander,Rossi,1991-09-25,American,http://en.wikipedia.org/wiki/Alexander_Rossi_%...

In [30]:
query = ("""
    SELECT *
    FROM drivers
    WHERE nationality = "Mexican";
""")

df_nationality_american = sqlQuery(query)

df_nationality_american

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,212,rebaque,NaN,None,Hector,Rebaque,1956-02-05,Mexican,http://en.wikipedia.org/wiki/Hector_Rebaque
1,345,rodriguez,NaN,None,Pedro,Rodríguez,1940-01-18,Mexican,http://en.wikipedia.org/wiki/Pedro_Rodr%C3%ADg...
2,382,solana,NaN,None,Moisés,Solana,1935-12-26,Mexican,http://en.wikipedia.org/wiki/Mois%C3%A9s_Solana
3,454,ricardo_rodriguez,NaN,None,Ricardo,Rodríguez,1942-02-14,Mexican,http://en.wikipedia.org/wiki/Ricardo_Rodr%C3%A...
4,815,perez,11.0,PER,Sergio,Pérez,1990-01-26,Mexican,http://en.wikipedia.org/wiki/Sergio_P%C3%A9rez
5,821,gutierrez,21.0,GUT,Esteban,Gutiérrez,1991-08-05,Mexican,http://en.wikipedia.org/wiki/Esteban_Guti%C3%A...

In [33]:
query = ("""
    SELECT *
    FROM drivers
    WHERE forename = "Esteban";
""")

df_nationality_american = sqlQuery(query)

df_nationality_american

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,74,tuero,NaN,None,Esteban,Tuero,1978-04-22,Argentine,http://en.wikipedia.org/wiki/Esteban_Tuero
1,821,gutierrez,21.0,GUT,Esteban,Gutiérrez,1991-08-05,Mexican,http://en.wikipedia.org/wiki/Esteban_Guti%C3%A...
2,839,ocon,31.0,OCO,Esteban,Ocon,1996-09-17,French,http://en.wikipedia.org/wiki/Esteban_Ocon

#### Driver per year and standing

- join `drivers`, `qualifying` and `races`

In [54]:
query = ("""
    SELECT DISTINCT(d.driverId), d.forename, d.surname, r.year
    FROM drivers AS d
    JOIN qualifying AS q ON d.driverId = q.driverId
    JOIN races AS r ON q.raceId = r.raceId
    WHERE d.surname = "Schumacher"
    ORDER BY year DESC;
""")

df_driver_year = sqlQuery(query)
df_driver_year

    driverId forename     surname  year
0        854     Mick  Schumacher  2022
1        854     Mick  Schumacher  2021
2         30  Michael  Schumacher  2012
3         30  Michael  Schumacher  2011
4         30  Michael  Schumacher  2010
5         23     Ralf  Schumacher  2007
6         30  Michael  Schumacher  2006
7         23     Ralf  Schumacher  2006
8         23     Ralf  Schumacher  2005
9         30  Michael  Schumacher  2005
10        30  Michael  Schumacher  2004
11        23     Ralf  Schumacher  2004
12        30  Michael  Schumacher  2003
13        23     Ralf  Schumacher  2003
14        30  Michael  Schumacher  2002
15        23     Ralf  Schumacher  2002
16        30  Michael  Schumacher  2001
17        23     Ralf  Schumacher  2001
18        30  Michael  Schumacher  2000
19        23     Ralf  Schumacher  2000
20        30  Michael  Schumacher  1999
21        23     Ralf  Schumacher  1999
22        30  Michael  Schumacher  1998
23        23     Ralf  Schumacher  1998
24        30  Michael  Schumacher  1997
25        23     Ralf  Schumacher  1997
26        30  Michael  Schumacher  1996
27        30  Michael  Schumacher  1995
28        30  Michael  Schumacher  1994

In [61]:
query = ("""
    SELECT d.driverId, s.raceId, d.forename, d.surname,  s.points, s.position
    FROM driverStandings AS s
    JOIN drivers AS d ON d.driverId = s.driverId
    WHERE forename = "Lewis";
""")

df_constructorResults = sqlQuery(query)
df_constructorResults

     driverId  raceId forename   surname  points  position
0           1      18    Lewis  Hamilton    10.0         1
1           1      19    Lewis  Hamilton    14.0         1
2           1      20    Lewis  Hamilton    14.0         3
3           1      21    Lewis  Hamilton    20.0         2
4           1      22    Lewis  Hamilton    28.0         3
..        ...     ...      ...       ...     ...       ...
285         1    1071    Lewis  Hamilton   318.5         2
286         1    1072    Lewis  Hamilton   369.5         2
287         1    1073    Lewis  Hamilton   387.5         2
288         1    1074    Lewis  Hamilton    15.0         3
289         1    1075    Lewis  Hamilton    16.0         5

[290 rows x 6 columns]

## Which constructor was the most successful?